<html lang="en">
<!-- this is the 404 page -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found</title>
</head>

<body>
    <h1>ERROR 404 - Page not found</h1>
    <h2>This page does not exist.</h2>
</body>

</html>