<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NinerMarket</title>
    <meta name="description" content="NinerMarket - UNCC">
    <meta name="author" content="Branson">
</head>

<body>
    <h1>INDEX/HOME PAGE</h1>
</body>

</html>s